
    <body>
        <h1> my storm list </h1>
         <ul>
           
           <li class="todo-item"> 
               <input type="checkbox"/>
               <a href="/todos/1">BlueStorm</a>
               <span class="estimate">time estimate</span>
              </li> 
              <li class="todo-item">
                <input type="checkbox"/>
                <a href="/todos/2">MindStorm</a>
                <span class="estimate">time estimate</span>
              </li>
              <li class="todo-item">
                <input type="checkbox"/>
                <a href="/todos/3">CodeStorm</a>
                <span class="estimate">time estimate</span>
              </li>
        </ul>   
        
        <form action="/todos" method="POST">
        <input type ="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token%>"/>
        <input type="text" naem="title"/>
        <input type="text" name="description" class="new-todo-description" placeholder="description"/>
        <input type="number" name="duration" class="new-pomodoro-estimate" placeholder="enter time"/>
        <input type="submit" value="addtodo" class="add-new-todo-button"> 
            </form>
            
       
    </body>
    
    
    
    