
    <body>
        <h1> my storm list </h1>
         <ul>
           
           <li> 
               <input type="checkbox"/>
               <a href="show.html">BlueStorm</a>
               <span class="estimate">time estimate</span>
              </li> 
              <li>
                <input type="checkbox"/>
                <a href="show.html">MindStorm</a>
                <span class="estimate">time estimate</span>
              </li>
              <li>
                <input type="checkbox"/>
                <a href="show.html">CodeStorm</a>
                <span class="estimate">time estimate</span>
              </li>
        </ul>   
        
        <div id="new-todo-block">
        <input type="text" id="new-todo-description" placeholder="More storm names">
        <input type="number" id="new-pomodoro-estimate" placeholder="enter time">
        <input type="submit" value="Yes" id="add-new-todo-button"> 
        </div>
            
            
       
    </body>
    
    
    
    