
  <body>
    <input type="checkbox">
    <h2>Make the curriculum 4 Pomodoros</h2>
    <a href="#" id="edit-button">Edit</a>
    <a href="#" id="delete-button">Delete</a>
    <a href="/todos" id="go-back">go-back</a>
  </body>
</html>
This is todo number <%= @id %>
  <h2>
  <%=@todo [:title]%>
 </h2>
 <p>
     <%= @todo[:description]%>
 </p>
